<h1>Suggested Event Titles</h1>

<style>
 table { table-layout: fixed; }
 /*table th, table td { overflow: hidden; }*/
</style>

<div class="row-fluid">
    <div class="span8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 30%">Title</th>
            <th style="width: 60%">Subtitle</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>

        <tbody id="suggestions">
            <%= render 'suggestions' %>
        </tbody>
      </table>
      <%= link_to '<font color=\'white\'>Suggest New Title</font>'.html_safe, new_name_path, {:class => 'btn btn-primary'} %>
    </div>

    <div class="span4" id="votes">
      <%= render @votes %>
    </div>
<br />
